# Ignore all files
*

# Add specific needed config
!.gitignore
!.gitmodules
!.p10k.zsh
!.zshrc
!.config/
!.config/hypr/
!.config/hypr/hyprland.conf
!README.md

# Vim
!.vimrc
!.vim/
!.vim/bundle/
!.vim/bundle/**

# Waybar
!.config/waybar/
!.config/waybar/config.jsonc
!.config/waybar/style.css

