# Ignore all files
*

# Add specific needed config
!.gitignore
!.gitmodules
!README.md
!LICENSE

# Hyprland
!.config/
!.config/hypr/
!.config/hypr/**

# Vim
!.vimrc
!.vim/
!.vim/bundle/
!.vim/bundle/**

# Waybar
!.config/waybar/
!.config/waybar/config.jsonc
!.config/waybar/style.css

# Bins
!.local/
!.local/bin/
!.local/bin/wakasync
!.local/bin/run-daemon

# Zsh
!.zshrc
!.p10k.zsh
!.oh-my-zsh/
!.omz/
!.omz/theme
!.omz/theme/powerlevel10k

